.App{
  display: flex;
  flex-wrap: wrap;
  gap: 15rem;
}

/* counter css */

.counter-container{
  margin-top: 30px;
  margin-left: 50px;
  border: 1px solid #ccc;
}
.btn-container h2{
  margin-bottom: 0px;
  color: red;
  margin-left: 100px;
 
}
.btn-container button{
  width: 100px;
  margin: 20px;
  height: 50px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
}
/* userDataForm css */
.form-container {
  background-color: rgb(242, 242, 242);
  padding: 20px;
  margin-left: 50px;
  height: 410px;
  border-radius: 5px;
  margin-top: -150px;
}
.form-container h1{
  margin: 0;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  width: 300px;
  padding: 12px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-sizing: border-box;
}

#submit {
  background-color: rgb(76, 175, 80);
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: 0 none rgb(255, 255, 255);
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-left:80px;
  border-radius: 5px;
}
.warning{
  margin: 0;
}

/* rich text editor */
.editor-container {
  width: 30%;
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 10px;
}

#toolbar {
  margin-bottom: 10px;
  margin-top: 20px;
}

button {
  margin-right: 5px;
  background-color: blue;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

#editor {
  border: 1px solid #ccc;
  padding: 10px;
}
.authentication-container{
  border: 1px solid #ccc;
  padding: 20px;
  height: 100px;
}